button
{

   display:block;

 
}

.button
{
  display: none;
}

.saisie
{
  width: 75%;
}
.header
{
  height:170px;
  margin-top:0;

}
.logo {
    margin-right: 0;
    height: 30%;
}
.inscription
{
  height:50%;
  font-size:medium;
  padding:0px 20px;
}
.navigation
{
  height:50%;
}

#hebergement,.populaires
{
 margin:0px ;
 border-radius: 0  ;
 height: auto;
 min-height: 50vh;
}

#hebergement
{
  background-color: white;
}

.section1 p i {

    color: #0065FC;
    margin: 0px 10px 10px 0px;

}
.filtre a
{

  margin: 10px 10px 10px 0px ;
}

.section1, .section3,  #hebergement

{
  margin: 0px 15px;
}


.ligne {
    flex-direction: column;
}

/**TAILLE SECTION**/
.section1
{height: 715px;}

  

#section2
{
  height:2650px;
}

#section3
{
 height:1850px; 
}

/**TAILLE hebergement aside **/

#hebergement
{
  height:1850px;
}

.populaires
{
  height:775px;
}