*
{
  font-family: 'Raleway', sans-serif;

}
 

 a  
{
  text-decoration: none;
}


.header 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

.navigation
{
   height: 100%;
   display: flex;
   align-items: center;

}

.navigation_,.inscription
{
  
   height: 100%;
   display: flex;
   align-items: center;
   padding: 0 10px;

}
.navigation_ 
{
  color: grey;


}



.inscription
{
  font-weight: bold;
  color: #0065FC;
}
p
{
 
  font-size: small;

}

.navigation               /*SURVOL */
a:hover
{  
  
    color:#0065FC;  
    border-top:2px #0065FC solid;
}

.section1 h1
{
 font-size: 20px;
 margin: 0px 0px;
} 
.section1 p
{
  margin: 5px 0px;
  margin-bottom: 10px;
} 

.recherche 
{
  display: flex;
  justify-content: flex-start;
}
.recherche i
{

   padding:10px;
   background-color: #F2F2F2;
   border-radius: 10px 0px 0px 10px;
`}

.saisie
{
  font-weight: bold;
   color: black;
   background-color: white;
   border-color: transparent;
     
}
input::placeholder {
  color: black;
}

.button
{
   color: white;
   background-color: #0065FC;
   border-radius: 0px 10px 10px 0px ;
  border-color: black;

}

h4{
  padding-right: 5px;
}
.filtre
{
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  justify-content:flex-start;
  align-items: center;
 border-radius: 40px;
 font-weight: bold;



}
.filtre i
{
  padding: 10px;
   color: #0065FC;
   background-color: #DEEBFF;
   border-radius: 30px;
   
}

.filtre a
{
  justify-content: center;
  padding: 15px;
  align-items: center;
  font-size: 13px;
  color: black


}
.filtre a:hover
{
 transform: scale(1.2); 
}


#section2
{
  display: flex;
}

#hebergement
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  align-items: center;
  background-color: #F2F2F2;
  padding: 30px;
  border-radius:30px;


}
#hebergement i
{
  color: #0065FC;
}

#hebergement a:hover
{
  transform: scale(1.2);

}
 h4
{
  font-weight: bold;
}


.ligne1 
{
  display: flex;

}
#hebergement img 
{
  width: 50px;
  height: all;
}
.ligne1 a:hover
{
  transform: scale(1.2);
  
}
.ligne2
{
  display: flex;
}

.h1,.h2,.h3,.h4,.h5,.h6
{
  display: flex;
  justify-content:space-around;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  background-color: white;
  border-radius: 30px;
  margin: 10px;

}

aside 
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #F2F2F2;
  padding: 30px;
  border-radius:30px;


}
.footer
{
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    

}
.footer div
{
  display: flex;
  flex-direction: column;
}



